body{
    padding: 0;
    margin: 0;
    background-color: rgba(9, 112, 60, 0.808);
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

section{
    margin: 0 auto;
    width: 600px;
    height: 500px;
    text-align: center;
    background-color: aquamarine;
    border-radius: 10%;
    padding: 20px;
    box-shadow:5px 5px rgba(0, 0, 0, 0.7);
}

div.divSemiPrincipal{
    text-align: left;
    padding: 10px;
    justify-content: space-between;
    
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

footer{
    color: white;
    text-align: center;
    padding-top: 20px;
}

input[type=radio]{
    width: 20px;
    cursor: pointer;
}
input[type=number]{
    outline: none;
    border-radius: 5px;
}

button{
    width: 150px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color:#605535;
    background-color:rgba(31, 92, 92, 0.253);
    outline: none;
    border:none

}

div.textoUsuario{
    padding: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
div.divImagem{
    padding: 10px;
    
}